@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Sora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@font-face{
    font-family: 'wf_SegoeUILight';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot?#iefix') format('embedded-opentype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.woff') format('woff'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.ttf') format('truetype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
  width: 100%;
  height: 100%;
}
/* body {
  background: url("https://funart.pro/uploads/posts/2020-04/1586702416_2-p-chainie-foni-5.jpg") repeat-y ;
  background-size: cover;
} */
main {
  height: auto;
  font-family: 'Roboto', sans-serif;
}

nav {
  font-family: 'Roboto Slab', serif;
}

footer {
  max-height: 20vh;
  margin: 30px 0;
}
/* navbar styles */
.navbar-collapse>* {
  margin-top: 0;
}
/* ----------------- */
footer p {
  text-align: center;
}

li {
  list-style: none;
}

ul {
  margin-top: 10px;
}

/* footer styles */
.socials {
  text-align: center;
}
.socials a {
  margin-left:20px;
  font-size: 30px;
}

.info {
  display: flex;
  flex-direction: column;

}
.copyright {
  margin: 0;
}

.btn-help {
  align-items: center;
}

.info a {
  width: 200px;
  margin: 0 auto;
  color: black;
}

@media (max-width: 990px){
  .info a {
    text-align: center;
  }

  .btn-help {
    margin: 10px 0;
    width: 100%;
    max-width: 290px;
  }
}
@media (max-width: 768px){
  .info a {
    text-align: center;
  }
}


@media (max-width: 425px){
  .navbar-brand {
    font-size: 0.9em;
  }
}

@media (max-width: 320px){
  .navbar-brand {
    font-size: 0.74em;
  }
}
/* ------------- */
