.mod {
  margin:10px;
}

.mod__nav {
  margin:10px;
}

.mod__content__item {
  margin: 10px;
}

.mod__content_products{
  text-align:center;
}

.content__products_link {
  margin: 10px;
}
.mod__content_sales{
  display:flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.mod__content_sales__input {
  margin-top: 15px;
}

.mod__content_sales__textarea {
  margin-top: 15px;
  min-height: 150px;
}

.mod__content_sales__btn {
  margin-top:10px;
}

.articul {
  margin: 0 10px;
  line-height: 2;
}

.found__item {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.found__item label{
  margin-right:10px;
  display: inline-block;
  font-weight:bold;
  line-height: 2;
}

.found__item input {
  display: inline-block;
  margin-right:10px;
  line-height: 1;
}

.item__price_sale {
  margin-left:10px;
}

.d-in{
  display: flex;
  margin: 10px 10px 10px;
}
.item__name {
  width:100%;
}

.btn__item_edit {
  width:50%;
  margin: 10px auto;
}

.item__id{
  margin-left:10px;
}

.form__label {
  min-width: 170px;
  text-align: left;
}

.form__input {
  width: 200px;
  min-height: 32px;
}

.form__sublabel {
  font-size:13px;
  margin: auto 0 auto 10px;
  text-align: left;
  line-height: 1;
}
.form__input_item_name {
  width:100%;
}

.requets__item {
  margin-bottom: 10px;
  padding:10px;
  border-top: 1px solid #cbcbcb;
}

.request__btns {
  display: flex;
  justify-content: center;
}
.btn__request_info{
  margin-right:20px;
}


.firm_search_wrap {
  padding: 10px;
}
.search_wrap {
  display: flex;
  justify-content: center;
  margin: 15px auto;
}

.tooltip_sign {
  font-size: 10px;
  height: 25px;
  width: 25px !important;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
  margin: auto 10px auto 0;
}

.search_input {
  min-width: 200px;
  height: 30px;
  margin: auto 15px auto 0;
  font-size: 13px;
}
.search_btn {
  height: 30px;
  padding: 0 3px;
  font-size: 15px;
}

.in {
  display: flex;
}
.in > p:nth-child(1){
  color: rgb(108, 112, 112);
  margin-right:10px;
}

.b > p:nth-child(2){
  font-weight: bold;
}
.results_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.result {
  display: flex;
  flex-direction: column;
  width: 300px;
  font-size: 14px;
  margin: 10px;
}

.editing_btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.editing_btns button:nth-child(2) {
  margin: 15px 0;
}

.editing_btns button {
  width: 100%;
}
.docs_link{
  width: 100%;
}
.docs {
  width: 100%;
  margin-bottom:20px;
  padding: 10px;
  border-top: 5px solid #000;
}
.firm_item {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.img_set {
  display: flex;
  flex-wrap: wrap;
}
.btn-row {
  display: flex;
  justify-content: center;
}

.btn-row button {
  width: 45%;
}

.btn-row button:first-child {
  margin-right:15px;
}
.sale_reject {
  margin: 0 auto 15px auto;
}
.sale_reject_label {
  margin: auto 0;
}
.sale_reject_input {

  margin: auto 15px auto 0;
}
