.mod {
  margin:10px;
}

.mod__nav {
  margin:10px;
}

.mod__content__item {
  margin: 10px;
}

.mod__content_products{
  text-align:center;
}

.content__products_link {
  margin: 10px;
}
.mod__content_sales{
  display:flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.mod__content_sales__input {
  margin-top: 15px;
}

.mod__content_sales__textarea {
  margin-top: 15px;
  min-height: 150px;
}

.mod__content_sales__btn {
  margin-top:10px;
}

.articul {
  margin: 0 10px;
  line-height: 2;
}

.found__item {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.found__item label{
  margin-right:10px;
  display: inline-block;
  font-weight:bold;
  line-height: 2;
}

.found__item input {
  display: inline-block;
  margin-right:10px;
  line-height: 1;
}

.item__price_sale {
  margin-left:10px;
}

.d-in{
  display: flex;
  margin: 10px 10px 10px;
}
.item__name {
  width:100%;
}

.btn__item_edit {
  width:50%;
  margin: 10px auto;
}

.item__id, .item__articul{
  margin-left:10px;
}

.form__label {
  min-width: 170px;
  text-align: left;
}

.form__input {
  width: 200px;
  min-height: 32px;
}

.form__sublabel {
  font-size:13px;
  margin: auto 0 auto 10px;
  text-align: left;
  line-height: 1;
}
.form__input_item_name {
  width:100%;
}
