@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Sora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@font-face{
    font-family: 'wf_SegoeUILight';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot?#iefix') format('embedded-opentype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.woff') format('woff'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.ttf') format('truetype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
  width: 100%;
  height: 100%;
}
/* body {
  background: url("https://funart.pro/uploads/posts/2020-04/1586702416_2-p-chainie-foni-5.jpg") repeat-y ;
  background-size: cover;
} */
main {
  height: auto;
  font-family: 'Roboto', sans-serif;
}

nav {
  font-family: 'Roboto Slab', serif;
}

footer {
  max-height: 20vh;
}

footer p {
  text-align: center;
}

li {
  list-style: none;
}

ul {
  margin-top: 10px;
}

/* navbar styles */
.navbar-collapse>* {
  margin-top: 0;
}
#select_city {
  width:300px;
  position: absolute;
}
/* ----------------- */
#main-wrap {
  display: flex;
}

#search {
  display: flex;
  margin-top:10px;
}

#search input[type='text'] {
  width: calc(100% - 100px);
  height:40px;
  margin-top:2.5px;
  border: 1px solid #bbb8c2;
  border-radius: 0.25em;
  padding-left: 10px;
}

#search input[type='submit'] {
  min-width: 100px;
  margin-left: 10px;
  height:45px;
  font-weight: 400;
}

.si {
  font-size: 25px;
  margin-right: 2px;
  vertical-align: top;
}

/* shop styles */
.grid-container {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  min-width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    ". c c c ."
    "s m m m a"
  ;
}

.carousel-inner {
  min-width: 100%;
  display: flex;
}

.alert_t {
  position: fixed;
  bottom: 20%;
  left:20px;
}

.carousel-inner>img {
  height: 100%;
  min-height: 150px;
  border-radius: 30px;
  width: 100%;
  margin-bottom: 20px;
}

.carousel {
  grid-area: c;
  margin-top: 30px;
}

#sales_link {
  color:red;
  font-size: 20px;
  margin: 10px 0 20px 0;
  font-style: italic;
}

.main-content {
  grid-area: m;
}

.sidebar {
  grid-area: s;
  justify-self: center;
}

.filters {
  margin-right: auto;
  text-decoration: none;
  margi
}

.filters>li {
  list-style: none;
  margin-bottom: 15px;
  background-color: white;
  text-align: left;
}

.filters_tags {
  font-size: 19px;
  font-weight: bold;
}

.price {
  text-align: left;
}

.noitems {
  font-weight: bold;
}

/* ------------------------ */
/* carousel styles */
    .carousel {
      position: relative;
      overflow: hidden;
    }

    .carousel-inner {
      display: flex;
      transition: transform 0.6s ease;
    }

    .slider__item {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .slider__control {
      position: absolute;
      top: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, .5);
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
    }

    .slider__control_left {
      left: 0;
    }

    .slider__control_right {
      right: 0;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_left::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_right::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .slider__item img {
      height:250px;
      z-index: 100;
    }
    .slider__item>div {
      text-align: center;
    }
/* ----------------- */
/* Goods styles */
.item_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(258px, 1fr));
  grid-auto-rows: 500px;
  grid-gap: 14px;
}

.shop_item {
  background-color: white;
  max-width: 100%;
  display: grid;
  align-items: start;
  grid-template-rows: auto minmax(50px,25%) auto auto;
  -webkit-box-shadow: 0px 0px 100px 0px rgba(53, 53, 53, 0.5);
  -moz-box-shadow: 0px 0px 30px 0px rgba(53, 53, 53, 0.5);
  box-shadow: 0px 0px 15px 0px rgba(53, 53, 53, 0.3);
}

.shop_item>button {
  justify-self: start;
}

.carousel_img {
  align-self: center;
  position: relative;
  justify-self: center;
  margin-top: 15px;
}

.item_price {
  color: red;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  margin-left: 10px;
}

.item_price>i {
  font-size: 1000px;
}

.carousel_img>img {
  width: 100%;
  max-width: 200px;
  height: 235px;
  justify-self: center;
}

.item_name {
  font-size: 16px;
  color: black;
  font-weight: 100;
  align-self: center;
  margin: 0 10px 0 10px;
}

.item_name:hover {
  text-decoration: none;
}

.footer_item {
  display: grid;
  grid-template-columns: auto 175px;
  grid-auto-rows: 65px;
  margin-left: 10px;
  grid-template-areas:
    "b sht"
    "b kor"
    ;
  margin-bottom: 20px;
}
.b {
  grid-area: b;
  align-self: center;
}
.sht {
  grid-area: sht;
}
.kor {
  grid-area: kor;
}
.footer_item>button {
  justify-self: start;
  align-self: center;
}

.footer_item>div {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  align-self: start;
  display: block;
}

.range_items {
  display: inline-flex;
  margin-top: 5px;
}

.range_items>input {
  width: 50px;
  margin: 0px 10px;
  text-align: center;
  height: 30px;
  padding: 0;
}

.range_items>button {
  width: 30px;
  border-radius: 20px;
  height: 30px;
  padding: 0;
}

.fa-minus, .fa-plus {
  text-align: center;
  vertical-align: middle;
  margin: auto;
  padding: 0;
  font-size: 10px;
}

/* ---------------------------- */
/* sidebar styles */
.categories {
  display: flex;
  flex-direction: column;
  margin: 5px 0 40px 0;
}

.link {
  font-size: 18px;
  margin-top: 5px;
  min-width: 90px;
  height: 35px;
  padding-left: 8px;
  padding-top: 5px;
  border-radius: 0.25rem;
  color: black;
  font-weight: 500;
}


.active_type {
  background-color: #007bff;
  color: white;
  pointer-events: none;
}

.fa-angle-right {
  margin-left: 10px;
}

.link:hover {
  text-decoration: none;
  color: inherit;
}

.price {
  display: flex;
  vertical-align: bottom;
}

.price>p {
  margin-bottom: 0;
  padding-top: 2px;
  margin-top: 3px;
}

.price_opt {
  display: flex;
  border: 2px solid #b1b9c2;
  padding: 2px;
  vertical-align: middle;
  border-radius: 5px;
}

.price_opt:hover {
  border-color: #99bdff;
}

.price_opt>p {
  margin: 0;
  font-size: 12px;
  vertical-align: middle;
  margin-top: 3px;
  margin-left: 5px;
  margin-right: 5px;
  color: #b1b9c2;
}

.price_opt>input {
  width: 60px;
  border: 0;
  outline: none;
  text-align: center;
}

.price>input[type='range'] {
  margin: 0 10px;
  vertical-align: middle;
  min-width: 70px;
}

.submenu_wrap {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.submenu>label {
  margin-left: 5px;
  font-size: 15px;
  vertical-align: top;
  padding-top: 1px;
}

.tea_type_wrap {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 15px;
}

.tea_type>input {
  margin-right: 5px;
}

.options {
  margin-left: 15px;
}

.options>label {
  margin-left: 5px;
}

#one_collection {
  margin-top: 10px;
}

#one_collection>label {
  margin-left: 5px;
  font-size: 15px;
}

.weight_wrap {
  display: flex;
  vertical-align: bottom;
}

.weight_wrap>p {
  margin-bottom: 0;
  vertical-align: middle;
  padding-top: 2px;
}

.weight_wrap>input[type='text'] {
  width: 45px;
  height: 75%;
  min-width: 45px;
}

.weight_wrap>input[type='range'] {
  margin: 0 10px;
  vertical-align: middle;
  min-width: 70px;
}

.weight_opt {
  display: flex;
  border: 2px solid #b1b9c2;
  padding: 2px;
  vertical-align: middle;
  border-radius: 5px;
}

.weight_opt:hover {
  border-color: #99bdff;
}

.weight_opt>p {
  margin: 0;
  font-size: 12px;
  vertical-align: middle;
  margin-top: 3px;
  margin-left: 5px;
  margin-right: 5px;
  color: #b1b9c2;
}

.weight_opt>input {
  width: 60px;
  border: 0;
  outline: none;
  text-align: center;
}

/*-------------*/
/* login and register styles */
.card#log_page {
  width: 40%;
  margin: 20px 0;
  min-width: 280px;
}

.card#reg_page {
  width: 40%;
  margin: 20px 0;
  min-width: 280px;
}


.card>ul {
  display: flex;
  color: black;
  margin: 0 auto;
	padding: 0;
	margin-top:60px;
}

.card>ul>li:nth-child(1)::after {
  content: '/';
  margin-left: 10px;
  font-size: 18px;
}

.card>ul>li {
  margin-right: 10px;
}

.card>ul>li:nth-child(1) > a{
	margin:auto;
}

.card-body {
  margin-top: 40px;
}

.noLink {
  pointer-events: none;
	border-bottom: 1px solid black;
	font-size: 20px;
}

/* ------------------------- */

/* user styles */
.card#user_page {
  width: 40%;
  margin-top: 20px;
  min-width: 750px;
}

#nav-profile {
  margin: 30px 15% 0;
}

#nav_panel{
  margin:10px auto;
  width:100%;
  padding: 0 10px 0 10px;
}

#type {
  font-style: italic;
  min-width: 80px;
}

#phone > p:nth-child(2){
  margin-right:20px;
  margin-bottom: 0;
}

#phone_input {
  min-width: 45px;
  max-width:70px;
  text-align: center;
  height: 30px;
  margin-top: 1px;
}

#phone_confirm {
  min-width:340px;
}
#sms_button {
  height: 30px;
  font-size: 13px;
  vertical-align: middle;
  margin-right: 20px;
}

#phone_button {
  height: 30px;
  font-size: 13px;
  vertical-align: middle;
  margin-left: 20px;
}

.in {
  display: flex;
}
#name, #surname, #third_name {
  margin-right: 20px;
}

#surname {
  margin-right: 20px;
}

.in > p:nth-child(1){
  color: rgb(108, 112, 112);
  margin-right:10px;
}

#profile p {
  font-size: 15px;
}

.p-danger {
  font-size: 14px;
  vertical-align: middle;
  margin: 3px 0 0;
  font-weight: bold;
  color: rgb(238, 61, 61) !important;
}

#org_info {
  margin-top:5px;
  margin-bottom: 50px;
}

#org_form {
  display: flex;
  flex-direction: column;
  margin-top:10px;
}

#org_form input {
  margin-bottom: 10px;
}

#org_form select {
  margin-bottom: 10px;
  height:30px;
}
#link_code_wrap {
  margin-bottom: 10px;
  font-style: italic;
}
#link_code {
  margin-right:10px;
  width:350px;
}
#link_code_wrap .btn {
  height:auto;
}
.spinner-border {
  margin: 5rem 47.4%;
}

#docs {
  position: absolute;
  width:0.1px;
  height:0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

#deals{
  margin-left:10px;
  text-align: center;
  margin: 30px 0;
}
.deal {
  margin: 0 0 10px 10px;
}

.deal_wrap {
  margin: 1rem 0 20px 0;
  padding-top: 10px;
  border-bottom: 1px solid #cbcbcb;
  border-top: 1px solid #cbcbcb;

}

.deal_wrap > p {
  text-align: right;
  margin-right: 40px;
  font-weight: bolder;
  font-style: oblique;
  margin-bottom: 10px;
}
.deal img {
  width: 70px;
  height: 70px;
}

.deal > a {
  margin: 22px 0 0 30px;
  color: black;
}

.title {
  font-weight: bold;
}
a.title {
  color:black;
}

p.title {
  margin-bottom: 35px;
}

#balance_wrap {
  margin: 10px 0 0 25px;
  display: flex;
  flex-direction: column;
}

#balance_wrap p:nth-child(1){
  font-style: italic;
  margin-right: 10px;
}

.rub{
  margin-left: 4px;
  font-size: 15px;
}

#code {
  margin: 10px 10px 25px 0;
}

#code_link {
  margin: 10px 25px 20px 0;
}

#code_input {
  height:35px;
  margin: 0 15px 0 10px;
  text-align: center;
  min-width: 150px;
}

#code_btn {
  height:35px;
}

#code > p {
margin: 5px 0 0 0;
}

#dog {
  line-height: 1;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
}

#dog input {
  margin-right: 10px;
}

#question {
  display: flex;
  flex-direction: column;
}
.select_question {
  margin: 10px 0;
}

.i {
  font-size: 20px;
  margin-right:10px;
  line-height: 1;
}

#question button {
  width:200px;
  margin: 10px auto 0;
}

#question textarea {
  min-height: 200px;
  max-height:400px;
  resize:vertical;
  padding: 10px;
}
/* ----------- */

/* cart styles */

#cart_page {
  margin-top: 20px;
  min-width: 700px;
}

.img_good_cart {
  height: 70px;
  width:70px;
  margin: 10px 0 0 10px;
}

.good_cart {
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cbcbcb;
}

.item_name_cart {
  margin: 30px 5px 0 20px;
  vertical-align: middle;
  min-width:40%;
  font-size: 16px;
  color: black;
  font-weight: 500;
  max-width:280px;
}

.item_name_cart:hover {
  text-decoration: none;
}



.submit_cart {
  margin-left:37%;
  margin-bottom: 10px;
}

.del_btn {
  height: 38px;
  margin:3% 10px;
}

#cart_page p {
  min-width: 90px;
  margin: 30px 10px 0 0;
}
.null_cart {
  text-align: center;
  margin:30px 0 !important;
  font-weight: bold;
}
/* ----------- */
/* product styles */
#product_wrap {
  display:grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "a a a"
    "f i p"
    "hr hr hr"
    "l s s "
  ;
  width:60%;
  grid-gap:2em;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  align-items: center;
}

#logo {
  grid-area:l;
  display: flex;
  flex-direction: column;
}
#logo a {
  text-align: center;
}
#logo img {
  width:150px;
  margin-top:10px;
}

#logo span {
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
}

#sen {
  grid-area: s;
  padding-left:50px;
  border-left: 1px solid #cbcbcb;
  height: 100%;
  margin: 0;
  align-self: center;
}

#sen div {

}

#sen h5 {
  font-style: italic;

}

#top_bar {
  grid-area: a;
}

#top_bar h1 {
  margin:10px;
}

#photo_area {
  grid-area: f;
}

#hr {
  grid-area: hr;
  margin-top:10px;
  border-bottom: 1px solid #cbcbcb;
}

#photo_area img {
  max-width: 300px;
}



#info_wrap {
  grid-area: i;
  border-left: 1px solid #cbcbcb;
  padding-left:50px;
  border-right: 1px solid #cbcbcb;
  padding-top:10px;
  font-size: 14px;
  height: 100%;
  min-width: 400px;
}

#price_product {
  grid-area: p;
  align-self: flex-start;
  min-width:250px;
  padding-top:10px;
}

#price_wrap {
  display: flex;
  flex-direction: column;
}

#price_wrap span {
  text-align: left;
  font-size: 30px;
  color:red;
  margin-bottom: 10px;
  font-weight: bold;
}

#price_wrap span > i {
  font-size: 15px;
}

#price_wrap .range_items {
  margin-left:5px;
}

#price_wrap > button {
  height:65px;
  width: 150px;
  margin-top: 20px;
}

#title_product {
  font-size: 24px;
  font-weight: 700;
  margin-left: auto;
}

.breadcrumb {
  background-color: white;
}

.p p:nth-child(1){
    min-width:150px;
}
.p p:nth-child(1)::after{
    content: "";
    display:block;
    left: 0;
    position: relative;
    width: 100%;
    border-bottom: 1px dotted rgb(203, 203, 207);
    z-index: -1;
}
.p {
  text-align: left;
}
#logo p {
  font-weight: 700;
  margin-bottom:10px;
  font-style: italic;
}
/* -------------- */
/* sales  */
.sales_wrap {
  margin-top:20px;
}

.card-header.s {
}
.card.s {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: minmax(5%, 67px) minmax(200px, 80%);
}

.card-body.s {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto minmax(69px,70px) auto;
}

.card-body.s img {
  max-width: 308px;
  height:242px;
  margin-bottom: 20px;
}
/* ---------- */
/* footer styles */
.socials {
  text-align: center;
}
.socials a {
  margin-left:20px;
  font-size: 30px;
}
/* ------------- */
/* media */
@media (max-width: 768px) {
  nav {
    font-size: 0.8em;
  }

  .grid-container {
    grid-template-areas:
      "c c c c c"
      "s m m m ."
    ;
  }
  .alert_t {
    position: fixed;

  }
  .carousel-inner {
    width: 85%;
  }
  .carousel {
    width:85%;
    margin-left:auto;
    margin-right: auto;
  }
}

@media (max-width: 425px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      "c"
      "s"
      "m";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 2fr;
  }

  .navbar-brand {
    font-size: 1em;
  }

  .shop_item {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 320px) {
  .navbar-brand {
    font-size: 0.83em;
  }

  .alert_t {
    position: fixed;
    top: calc(100vh - 200px);
    right:20px;
    z-index: 100;
  }
}
input.cart_href {
  background-color: black;
  margin-left: -200px;
}
