extends layout2

block content
  script(src="../jquery-3.5.1.js")
  .card.card-content.shadow-lg.mx-auto#cart_page
    div.coffee_li
    div.tea_li
    div.all_li
  
  script.
    var cart;
    if(localStorage.getItem('cart')){
      var cart = 'hello';
      cart = JSON.parse(localStorage.getItem('cart'));
      $.post("/cart", cart).done(function(data){
        console.log(data.other,data.coffee,data.tea);
        var out = '';
            if(data.other)
              for(var i = 0; i<data.other.length; i++){
                out += '<div type='+data.other[i].type+' class = "'+data.other[i].id+' good_cart"><img class="img_good_cart" src=/store_prods/'+data.other[i].type+'/'+data.other[i].sort+'/'+data.other[i].id+'.jpg><a href="/shop/other?id='+data.other[i].id+'" class="item_name_cart">'+data.other[i].item_name+'</a><div class="info_wrap"><p class="item_count"> Кол-во: '+cart[data.other[i].type+data.other[i].id]+' шт.</p><p > Цена: '+data.other[i].item_price*cart[data.other[i].type+data.other[i].id]+' р.</p></div><button onclick=delfromcart("'+data.other[i].type+data.other[i].id+'") class="btn btn-danger del_btn">Удалить</button></div>'
                console.log(data.other[i]); 
              }
            if(data.tea)
              for(var i = 0; i<data.tea.length; i++){
                out += '<div type='+data.tea[i].type+' class = "'+data.tea[i].id+' good_cart"><img class="img_good_cart" src=/store_prods/'+data.tea[i].type+'/'+data.tea[i].sort+'/'+data.tea[i].id+'.jpg><a href="/shop/tea?id='+data.tea[i].id+'" class="item_name_cart">'+data.tea[i].item_name+'</a><div class="info_wrap"><p class="item_count"> Кол-во: '+cart[data.tea[i].type+data.tea[i].id]+' шт.</p><p > Цена: '+data.tea[i].item_price*cart[data.tea[i].type+data.tea[i].id]+' р.</p></div><button onclick=delfromcart("'+data.tea[i].type+data.tea[i].id+'") class="btn btn-danger del_btn">Удалить</button></div>'
                console.log(data.tea[i]); 
              }
            if(data.coffee)
              for(var i = 0; i<data.coffee.length; i++){
                out += '<div type='+data.coffee[i].type+' class = "'+data.coffee[i].id+' good_cart"><img class="img_good_cart" src=/store_prods/'+data.coffee[i].type+'/'+data.coffee[i].sort+'/'+data.coffee[i].id+'.jpg><a href="/shop/coffee?id='+data.coffee[i].id+'" class="item_name_cart"> '+data.coffee[i].item_name+'</a><div class="info_wrap"><p class="item_count"> Кол-во: '+cart[data.coffee[i].type+data.coffee[i].id]+' шт.</p><p > Цена: '+data.coffee[i].item_price*cart[data.coffee[i].type+data.coffee[i].id]+' р.</p></div><button onclick=delfromcart("'+data.coffee[i].type+data.coffee[i].id+'") class="btn btn-danger del_btn">Удалить</button></div>'
                console.log(data.coffee[i]); 
              }
              if(data.horeca)
                for(var i = 0; i<data.coffee.length; i++){
                  out += '<div type='+data.horeca[i].type+' class = "'+data.horeca[i].id+' good_cart"><img class="img_good_cart" src=/store_prods/horeca/'+data.horeca[i].type+'/'+data.horeca[i].sort+'/'+data.horeca[i].id+'.jpg><a href="/shop/horeca?id='+data.horeca[i].id+'" class="item_name_cart"> '+data.horeca[i].item_name+'</a><div class="info_wrap"><p class="item_count"> Кол-во: '+cart[data.horeca[i].subtype+data.horeca[i].id]+' шт.</p><p > Цена: '+data.horeca[i].item_price*cart[data.horeca[i].subtype+data.horeca[i].id]+' р.</p></div><button onclick=delfromcart("'+data.coffee[i].type+data.coffee[i].id+'") class="btn btn-danger del_btn">Удалить</button></div>'
                  console.log(data.horeca[i]); 
                }
              $('.all_li').html(out+"<button class='btn btn-success submit_cart '>Перейти к оплате</button>");
      });
      function delfromcart(articul){
        delete cart[articul];
        localStorage.setItem('cart', JSON.stringify(cart));
        console.log(Object.keys(cart).length);
        if(Object.keys(cart).length==0){
          localStorage.removeItem('cart');
        }
        document.location.reload(true);
      }
    }else {$('.all_li').html("<p class='null_cart'>Товаров в корзине нет!</p>");}
