extends layout2


block scripts
  link(rel='stylesheet' href='cart_styles.css')
block content
  script(src="../jquery-3.5.1.js")
  .card.card-content.shadow-lg.mx-auto#cart_page
    div.coffee_li
    div.tea_li
    div.all_li
  script(src="cart.js")
    
