extends layout2

block content
  script(src="../jquery-3.5.1.js")
  .container
    div.coffee_li
    div.tea_li
    div.all_li
  
  script.
    var cart;
    if(localStorage.getItem('cart')){
      var cart = 'hello';
      cart = JSON.parse(localStorage.getItem('cart'));
      $.post("/cart", cart).done(function(data){
        var out = '';
          switch(undefined) {
            case data.coffee.length:
              for(var i = 0; i<data.tea.length; i++){
                console.log()
                out += '<div type='+data.tea[i].type+' class='+data.tea[i].id+'><div class="item_pic"><img style="weight: 250px; height: 250px;" src=/store_prods/'+data.tea[i].type+'/'+data.tea[i].sort+'/'+data.tea[i].id+'.jpg></div><p class="item_name">Название: '+data.tea[i].item_name+'</p><p class="item_count"> Кол-во: '+cart[data.tea[i].type+data.tea[i].id]+'</p><p class="price"> Цена: '+data.tea[i].item_price*cart[data.tea[i].type+data.tea[i].id]+'</p><button onclick=delfromcart("'+data.tea[i].type+data.tea[i].id+'")>Удалить</button></div>'
                $('.tea_li').html(out+"<button>Перейти к оплате</button>");
                console.log(data.tea[i]); 
              }
              break;
            case data.tea.length: 
              for(var i = 0; i<data.coffee.length; i++){
                out += '<div type='+data.coffee[i].type+' class='+data.coffee[i].id+'><div class="item_pic"><img style="weight: 250px; height: 250px;" src=/store_prods/'+data.coffee[i].type+'/'+data.coffee[i].sort+'/'+data.coffee[i].id+'.jpg></div><p class="item_name">Название: '+data.coffee[i].item_name+'</p><p class="item_count"> Кол-во: '+cart[data.coffee[i].type+data.coffee[i].id]+'</p><p class="price"> Цена: '+data.coffee[i].item_price*cart[data.coffee[i].type+data.coffee[i].id]+'</p><button onclick=delfromcart("'+data.coffee[i].type+data.coffee[i].id+'")>Удалить</button></div>'
                $('.coffee_li').html(out+"<button>Перейти к оплате</button>");
                console.log(data.coffee[i]); 
              }
              break;
            default: 
              console.log("TEA: ")
              for(var i = 0; i<data.tea.length; i++){
                out += '<div type='+data.tea[i].type+' class='+data.tea[i].id+'><div class="item_pic"><img style="weight: 250px; height: 250px;" src=/store_prods/'+data.tea[i].type+'/'+data.tea[i].sort+'/'+data.tea[i].id+'.jpg></div><p class="item_name">Название: '+data.tea[i].item_name+'</p><p class="item_count"> Кол-во: '+cart[data.tea[i].type+data.tea[i].id]+'</p><p class="price"> Цена: '+data.tea[i].item_price*cart[data.tea[i].type+data.tea[i].id]+'</p><button onclick=delfromcart("'+data.tea[i].type+data.tea[i].id+'")>Удалить</button></div>'
                console.log(data.tea[i]); 
              }
              console.log("COFFEE:")
              for(var i = 0; i<data.coffee.length; i++){
                out += '<div type='+data.coffee[i].type+' class='+data.coffee[i].id+'><div class="item_pic"><img style="weight: 250px; height: 250px;" src=/store_prods/'+data.coffee[i].type+'/'+data.coffee[i].sort+'/'+data.coffee[i].id+'.jpg></div><p class="item_name">Название: '+data.coffee[i].item_name+'</p><p class="item_count"> Кол-во: '+cart[data.coffee[i].type+data.coffee[i].id]+'</p><p class="price"> Цена: '+data.coffee[i].item_price*cart[data.coffee[i].type+data.coffee[i].id]+'</p><button onclick=delfromcart("'+data.coffee[i].type+data.coffee[i].id+'")>Удалить</button></div>'
                $('.all_li').html(out+"<button>Перейти к оплате</button>");
                console.log(data.coffee[i]); 
              }
              break;
          }
      });
      function delfromcart(articul){
        delete cart[articul];
        localStorage.setItem('cart', JSON.stringify(cart));
        if(Object.keys(cart).length==2){
          localStorage.removeItem('cart');
        }
        document.location.reload(true);
      }
    }else {$('.all_li').html("<p style='margin-top: 50px;' class='null_cart'>Товаров в корзине нет!</p>");}
