extends layout2
block content
  script(src='order.js')
  if !isRegistred
    p Зарегистрируйся
  else
    form(action="/order" method="POST")#delivery_info
      input(type='text' id="input_addr" name='address' placeholder='Введите адрес доставки')
      label наличные
        input(type='radio' id="input_nal" name='payment' value="nal") 
      label безнал  
        input(type='radio' id="input_beznal" name='payment' value="beznal")
      label счет    
        input(type='radio' id="input_bill" name='payment' value="bill")
      label#userbalance
      input(type="text" id="input_bonus" placeholder="Сколько баллов использовать в скидку")
      input(type='checkbox' id="use_bonus" name="bonuses")
      button(type='submit').submit_payment Подтвердить
