extends layout2
block scripts
  link(rel='stylesheet' href='../order.css')
block content
  script(src='cities.js')
  script(src='ahunter_suggest.js')
  if !isRegistred
    p Зарегистрируйся
  else
    .order__wrap
      h3.order__header.header Оформление заказа 
      form#delivery_info.order__form
        label#cartcost.order__label.mb Заказ на сумму: 
          span.price
          i.fas.fa-ruble-sign
        label#userbalance.order__label.mb
        .order__bonuses.mb
          .d-in
            input(type='checkbox' id="use_bonus" name="bonuses").order__input.order__radio.checkbox_bonuses
            .bonuses
              label.order__label Использовать баллы?
              input(type="text" name="input_bonus" id="input_bonus" placeholder="" disabled).order__input.bonuses__input.sym_none
          hr
          label.order__label Сумма к оплате: 
            span.order__final_price
            i.fas.fa-ruble-sign
          label.order__label.text-danger.d-none.order_min Мин.сумма заказа 2000 рублей!
        .order__payment
          h5.payment__header.header Способ оплаты
          .mb.order__radio_set
            .d-in
              input(type='radio' id="input_nal" name='payment' value="nal" checked).order__radio.order__input
              label.order__label Наличные водителю
            .d-in
              input(type='radio' id="input_beznal" name='payment' value="beznal").order__radio.order__input
              label.order__label Онлайн    
            .d-in
              input(type='radio' id="input_bill" name='payment' value="bill").order__radio.order__input
              label.order__label Рассчетный счёт
        .order__delivery.mb
          h5.delivery__header.header Адрес доставки
          .input_field
            if (!err)
              select(name='address' placeholder='Введите адрес доставки' required).order__input.delivery__input
                - for (var i = 0;i < org.org_address_fact.length; i++)
                  option(name=i+1) #{org.org_address_fact[i]}
                option(name='other') Другое
                input(type='text' id="js-AddressField" name='address' placeholder='Введите адрес доставки' required).order__input.delivery__input.js-AddressField.d-none
            else
              input(type='text' id="js-AddressField" name='address' placeholder='Введите адрес доставки' required).order__input.delivery__input.js-AddressField
        .order__comments.mb
          h5.header.comments__headder Комментарии к заказу
          textarea(name='comments').comments__area
        button(type='submit').submit_payment.btn.btn-primary Подтвердить заказ
    script(src='order.js')
