extends layout2

  
block content
  div#reg_page(class='card shadow-lg card-content mx-auto')
    ul
      li
        a.link(href='/login' onclick='return 0') Войти
      li
        a.noLink(href='/register') Регистрация
    form(action='/register' method='POST' id='form_input_by_client' class='needs-validation' novalidate)
      .card-body
        h2(class='card-text text-center') Регистрация
        .row(class='justify-content-center')
          div(class='col-lg-6 mb-3')
            label(for="validationCustom01") Электронная почта
            input(type='email' class='form-control email' id='validationCustom01' required placeholder='ivanov@yandex.ru' name='email')
            .valid-feedback Awesome email!
            .invalid-feedback Некорректный email!
        .row(class='justify-content-center')
          div(class='col-lg-6 mb-3')
            label(for="validationCustom02") Имя
            input(type='text' class='form-control name' id='validationCustom02' required placeholder='Иван' name='name')
            .valid-feedback Awesome name!
            .invalid-feedback Некорректное имя!
        .row(class='justify-content-center')
          div(class='col-lg-6 mb-3')
            label(for="telephone") Номер телефона
            input(type='text' class='phone form-control' id='phone' required placeholder='+7 (___) ___-__-__' name='phone_number' pattern='[0-9]{,10}')
            .valid-feedback Awesome phone number!
            .invalid-feedback Некорректный номер телефона!
        script.
          $(function($){
            $("#phone").mask("+7 (999) 999-99-99");
          });
        .row(class='justify-content-center')
          div(class='col-lg-6 mb-3')
            label(for="validationCustom03") Пароль
            input(type='password' class='form-control pass' id='validationCustom03' required  name='password')
            small(class='form-text text-muted') Ваш пароль должен иметь более 8 символов
            .invalid-feedback Слишком короткий пароль!
            .valid-feedback Крутой пароль!
        .row(class='justify-content-center')
          div(class='col-lg-6 mb-3')
            label(for="validationCustom04") Подтвердите пароль
            input(type='password' class='form-control conf_pass' id='validationCustom04' required  name='confirm_password')
            .invalid-feedback Пароли не совпадают!
            .valid-feedback Пароли совпадают!
        .row
          .col-sm-12(class='text-center')
            div(class="custom-control custom-radio custom-control-inline")
              input(type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input phys" checked value='phys_type')
              label(class="custom-control-label" for="customRadioInline1") Физическое лицо
            div(class="custom-control custom-radio custom-control-inline")
              input(type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input ur" value='ur_type')
              label(class="custom-control-label" for="customRadioInline2") Юридическое лицо
        .row(class='justify-content-center mt-3')
          button(class="btn btn-primary validate-btn" type="submit" onclick="document.location.href='/user'") Зарегистрироваться
    script(src=src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript")
