extends layout2

block content
	- var q = products_quantity
	- var bx24_url = "http://b24-19sfov.bitrix24.ru"
	script(src="/jquery-3.5.1.js")
	script(src="/cart.js")
	
	.flex-container
		.carousel(class='slide' id='slider' data-rede='carousel')
			ul(class='carousel-indicators')
				li(data-target='#slider' data-slide-to='0' class='active')
				li(data-target='#slider' data-slide-to='1' )
				li(data-target='#slider' data-slide-to='2')
			.carousel-inner
				.carousel-item(class='active')
					img(src='https://www.rabstol.net/uploads/gallery/main/610/rabstol_net_kung_fu_panda_09.jpg')
				.carousel-item
					img(src='https://www.kino-teatr.ru/art/4266/56597.jpg')
				.carousel-item
					img(src='https://cs4.pikabu.ru/post_img/big/2016/01/11/9/1452522100195423088.png')
		div(class='flex-wraps')
		.flex-i.
			A esse consequat reprehenderit, aliqua e mentitum, doctrina dolore expetendis 
			cupidatat ita amet et pariatur de ubi nescius te incididunt, e amet transferrem, 
		
		.flex-i.
			Noster excepteur reprehenderit, offendit transferrem se constias. Legam aliquip 
			ubi coniunctione in eu aliqua probant cohaerescant, aute deserunt de occaecat 
			nam 
		.flex-i.
			export quis eram veniam cillum duis duis ipsum quorum enim summis irure tamen 
			enim ipsum quem ipsum amet esse sint
