extends layout2

block content
	- var q = prod_count
	script(src="../jquery-3.5.1.js")

	.grid-container
		.carousel(class='slide' id='slider' data-rede='carousel')
			.carousel-inner
				img(src='welcome_to_orimi.gif')
		.main-content(class='item_list')
			- for(var i=0; i<q; i++) 
				div(class='shop_item' id=products[i].id type=products[i].type)
					div(class='carousel_img')
						img(src="store_prods/"+products[i].type+"/"+products[i].sort+"/"+products[i].id+".jpg")
					a(href='#' class='item_name') #{products[i].item_name}
					p(class='item_price') #{products[i].item_price} р.
					div.footer_item
						button.btn.btn-primary Купить
						div Кол-во
							.range_items
								button.btn.btn-secondary.minus
									i.fas.fa-minus.controls
								input(type='text' value='1' class='input')
								button.btn.btn-secondary.plus
									i.fas.fa-plus.controls
		.sidebar
			- var Type = 'tea';
			ul(class='filters')
				li 
					a(class='filters_tags') Категория
						.categories
							a(href='#') Чай
								i.fas.fa-angle-right
							a(href='#') Кофе
								i.fas.fa-angle-right
				li 
					a(class='filters_tags') Цена
					div.price
						p 0р. 
						input(type='range' min='0' max='1000' id='range_price' value='1000' step='1')
						.price_opt
							p до
							input(type='text' value='1000' id='input_range_price')
				li
					a(class='filters_tags') Бренд
					div.submenu_wrap
						.submenu
							input(type='checkbox')
							label Greenfield
						.submenu
							input(type='checkbox')
							label Tess
						.submenu
							input(type='checkbox')
							label Принцесса Нури
						.submenu
							input(type='checkbox')
							label Принцесса Ява
						.submenu
							input(type='checkbox')
							label Принцесса Канди
						.submenu
							input(type='checkbox')
							label Шах
				li
					a(class='filters_tags') Вид чая
					.tea_type_wrap
						.tea_type
							input(type='checkbox')
							label Черный
							.options
								input(type='checkbox')
								label с добавками
						.tea_type
							input(type='checkbox')
							label Зеленый
							.options
								input(type='checkbox')
								label с добавками
						.tea_type
							input(type='checkbox')
							label Гербальный
				li
					a(class='filters_tags') В одной коллекции
					#one_collection
						input(type='checkbox')
						label Да
				li
					a(class='filters_tags') Вес
					.weight_wrap
						p 36г.
						input(type='range' min='36' max='400' id='range_weight' value='400')
						.weight_opt
							p до
							input(type='text' value='400' id='input_range_weight')
				li
					a(class='filters_tags') Число пакетиков
					.submenu_wrap
						.submenu
							input(type='checkbox')
							label 20
						.submenu
							input(type='checkbox')
							label 25
						.submenu
							input(type='checkbox')
							label 30
						.submenu
							input(type='checkbox')
							label 50
						.submenu
							input(type='checkbox')
							label 100
				li
					a(class='filters_tags') Вид упаковки
					.submenu_wrap
						.submenu
							input(type='checkbox')
							label Коробка 
						.submenu
							input(type='checkbox')
							label Пакет
						.submenu
							input(type='checkbox')
							label Подарочная упкаовка
	script.
		window.onload = function(){
			var range_price = document.getElementById('range_price');
			var input_range_price = document.getElementById('input_range_price');
			var range_weight = document.getElementById('range_weight');
			var input_range_weight = document.getElementById('input_range_weight');	
			range_price.addEventListener('mousemove', function(){
				input_range_price.value = range_price.value;
			});
			input_range_price.addEventListener('change', function(){
				range_price.value = input_range_price.value;
			});
			range_weight.addEventListener('mousemove', function(){
				input_range_weight.value = range_weight.value;
			});
			input_range_weight.addEventListener('change', function(){
				range_weight.value = input_range_weight.value;
			});
		}
		
		$('.minus').on('click', function(){
			var item = $(this);
			if (item.siblings('.input').val() > 1){
				item.siblings('.input').val(parseInt(item.siblings('.input').val())-1);
			} else {
				return 0;
			}
		})
		
		$('.plus').on('click', function(){
			var item = $(this);
			item.siblings('.input').val(parseInt(item.siblings('.input').val())+1);
		})
